p {
  margin: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

table, th, td {
  border: 2px solid #d3d3d3 !important;
}

td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  padding-right: 30px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eaeaea;
}